div
{
    font-family:Arial;
    background: peru;
    margin: 10px 10px;
    text-align: center;
    font-weight: bold;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    color: white;
}
.iluminacion{
    border: 4px solid gray;
    transition-duration: .4s;
}
.iluminacion:hover{
    background: white;
    color: black;
}