div
{
    font-family:Arial;
    background: peru;
    margin: 10px 10px;
    text-align: center;
    font-weight: bold;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    color: white;
}
.resalte_borde{
  box-shadow: inset 0 0 0 4px #ddd;
    transition-duration: .3s;
}

.resalte_borde:hover{
    box-shadow: inset 0 0 0 4px #555;
}