div
{
    font-family:Arial;
    background-color: #a8cf45;
    margin: 15px 2px;
    margin-left: 60px;
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 80px;
    height: 50px;
    display: inline-block;
    padding: 5px 40px;
    vertical-align: middle;
}

.giro3d{
    animation: 1.5s giro3d 1;
    backface-visibility: visible;
}

@keyframes giro3d {
    40%{
        transform: perspective(300px)
        translateZ(120px)
        rotateY(170deg);
    }

    50%{
        transform: perspective(300px)
        translateZ(120px)
        rotateY(190deg);

    }
    80%{
        transform: perspective(300px)
        translateZ(0px)
        rotateY(360deg);

    }

    100%{
        transform: perspective(300px)
        rotateY(360deg);
    }
}
